body{
    background:url(bg1.jpg);
    background-position: center;
    background-size: cover;


}
.form{
    border-top: -50px;
    background-color:rgba(0,0,0,0.5) ;
    height: 430px;
    width: 200px;
    padding: 50px;
    top: 7%;
    left: 37%;
    position: absolute;
    color: aliceblue;
    border-radius: 10px;
   box-shadow: 4px 5px 4px 5px solid white;


}
form h1{
    color:orange;
    margin-top: -10px;
    text-align: center;
    font-weight: bold;
    height: 30px;
}
form p{
   color: orange;
}

input {
    border-radius: 10px;
    padding:10px;
    width:150px;
   align-items: center;
   color: white;
}
input[type="submit"]{
    color: black;
    margin-top:25px;
    background-color: orange;
    left: 30px;
    padding: 7px;
    margin-left: 40px;
    width:100px;
    border-radius: 10px;
    cursor: pointer;
}
#p{
color: aliceblue;
font-size: small;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="text"]:focus{
    background-color:rgba(19, 16, 1, 0.7) ;
    transition: ease-in 0.2s;
    width:200px ;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:rgb(231, 124, 24);
}
